/* CSS declarations go here */
body {
	padding-top: 50px;
	background: url('small_steps.png');
	overflow-x:auto;

}
html, body
{
	height: 100%;
}
.left-zone
{
	border-radius: 25px;
	background: #FFF;
	height: auto;
	height: 95vh;
	overflow-y: auto;
	overflow-x: hidden;
	/*white-space: nowrap;*/
}
.bloc .list-group-item
{
	padding-top: 40px;
	margin-top: 10px;
	border: 1px solid #337ab7;
	//background: #337ab7;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 15.1em;
}

.nopadding {
   padding-bottom: 0 !important;

   margin: 0 !important;
}

.nomargin {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
