/* CSS declarations go here */
body {
	padding-top: 50px;
	background: url('small_steps.png');
	overflow-x:auto;

}
html, body
{
	height: 100%;
}
.bloc .list-group-item
{
	padding-top: 20px;
	margin-top: 10px;
	border: 1px solid #337ab7;
	//background: #337ab7;
}

html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 15.1em;
}

.nopadding {
 padding-bottom: 0 !important;

 margin: 0 !important;
}

.nomargin {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.well .col{
 background-color: rgba(66,139,202, 0.6);
}
.well{
 background-color: rgba(245,245,245, 0.45);
}

#iron-router-progress {
  background-color :rgb(66,139,202);
  box-shadow       : 0 0 5px rgb(66,139,202);
}

.list-group.scroll{

  min-width: 400px;
  width: 100%;
  max-height: 500px;
  overflow-y:auto; 
} 
li > h4{
    display : inline-block;
  }